
/* Weather Dashboard banner */
h1 {
    position: relative;
    padding: 30px;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 0px;
}

.stats {
    transform: scale(1) translate(0px, 0px);
}

.col-lg-3 {
    width: 600px;;
}

/* main forecast box with info */
#main-forecast {
    display: flexbox;
    background-color: white;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-color: rgba(181, 181, 181, 0.363);
    border-radius: 5px;
    padding: 20px;
    padding-right: 80px;
    margin: 50px;
    margin-left: 60px;
    margin-right: 80px;
    margin-top: 0px;
    line-height: 40px;
    transform: scale() translate (100px, 90px);
}

/* Search for City text */
h4 {
    padding-left:5px;
    font-size:18px;
    color:black;
    padding-top: 10px;
}


/* main container */
.container {
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgba(99, 96, 96, 0.077);
}

/* saved searched cities */
#saved-cities {
    padding-top: 20px;
    width: 120%;
}

h3 {
    transform: translate(298px, -40px)
}

#fiveDayForecast {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#day1 {
    background-color: rgba(8, 76, 247, 0.892);
    color: white;
    border-radius: 10px;
}

#day2 { 
    background-color: rgba(8, 76, 247, 0.892);
    color: white;
    border-radius: 10px;
}


#day3 {
    background-color: rgba(8, 76, 247, 0.892);
    color: white;
    border-radius: 10px;
}
   
#day4 {
    background-color: rgba(8, 76, 247, 0.892);
    color: white;
    border-radius: 10px;
}

#day5 {
    background-color: rgba(8, 76, 247, 0.892);
    color: white;
    border-radius: 10px;
}

/* weather icon */
#date1 {
    padding-top: 20px;
}

img {
    height: 100px;
    margin-left: 2px;
}

#temp1  {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    transform: translate(2px, 12px)!important;
}

#humidity1 {
    font-size: 18px;
    transform: translate(2px, 12px)!important;
}

#date2 {
    padding-top: 10px;
}

#wIcon2 {
    transform: translate(0px, 12px) !important;
    margin-bottom: -30;
    margin-left: -2px;
}

#temp2  {
    font-size: 18px;
    padding-bottom: 10px;
    transform: translate(0px, 12px)!important;
}

#humidity2 {
    font-size: 18px;
    transform: translate(0px, -2px)!important;
}

#date3 {
    padding-top: 10px;
}

#wIcon3 {
    transform: translate(-1px, 12px) !important;
}

#temp3  {
    font-size: 18px;
    padding-bottom: 10px;
    transform: translate(0px, 12px)!important;
}

#humidity3 {
    font-size: 18px;
    transform: translate(0px, -2px)!important;
}

#date4 {
    padding-top: 10px;
}

#wIcon4 {
    transform: translate(-4px, 12px) !important;
}

#temp4  {
    font-size: 18px;
    padding-bottom: 10px;
    transform: translate(0px, 12px)!important;
}

#humidity4 {
    font-size: 18px;
    transform: translate(0px, -2px)!important;
}

#date5 {
    padding-top:10px;
}

#wIcon5 {
    transform: translate(-4px, 12px) !important;
}

#temp5  {
    font-size: 18px;
    padding-bottom: 10px;
    transform: translate(0px, 12px)!important;
}

#humidity5 {
    font-size: 18px;
    transform: translate(0px, -2px)!important;
}


/* color coordination based on uv-index */
.low-uv  {
    font-size: 15px;
    width: 45px;
    height: 25px;
    background-color: rgba(77, 201, 15, 0.788);
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 2;
}

.high-uv {
    font-size: 15px;
    width: 45px;
    height: 25px;
    background-color: orange;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 2;
}

.bad-uv {
    font-size: 15px;
    width: 45px;
    height: 25px;
    background-color: red;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 2;
}
