/* .container {
    padding: 0px;
    margin-right: 10px;
    margin-left:0px;
    
}*/

/* Weather Dashboard banner */
h1 {
    position: relative;
    padding: 30px;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    
}



/* main forecast box with info */
#main-forecast {
    display: flexbox;
    background-color: white;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-color: rgba(181, 181, 181, 0.363);
    border-radius: 5px;
    position: relative;
    padding: 20px;
    margin: 50px;
    margin-left: 60px;
    margin-top: 0px;
    width: 120%;
    line-height: 40px;
}

/* Search for City text */
h4 {
    padding-left:5px;
    font-size:18px;
    color:black;
    
}
/* main container */
.container-flex {
    position: relative;
    width:320%;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: rgba(99, 96, 96, 0.077);
    
}

/* saved searched cities */
#saved-cities {
    padding-top: 15px;
    width: 120%;
    padding-bottom: 20px;
}

/* .col-lg-9 {
    position: relative;
    display: flexbox;
    flex: ;
} */

#fiveDayForecast {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width:20%;
    background-color: rgba(255, 0, 0, 0.358);
    margin-left: 285px;
    margin-top: 0px;
    margin-bottom: 50px;
    transform: translate(0px, -140px);
    
    

}

/* 5-day forecast single boxes */ 
#forecast {
    display: flexbox;
    height: 15rem;
    width: 12rem;
    background-color: rgba(8, 76, 247, 0.892);
    transform: translate(15px, 0px);
    color: white;
    border-radius: 10px;
    
}

#temp1 {
    padding-top: 60px;
}
/* color coordination based on uv-index */

.low-uv  {
    font-size: 15px;
    width: 45px;
    height: 25px;
    background-color: rgba(77, 201, 15, 0.788);
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 2;
}

.high-uv {
    font-size: 15px;
    width: 45px;
    height: 25px;
    background-color: orange;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 2;
}

.bad-uv {
    font-size: 15px;
    width: 45px;
    height: 25px;
    background-color: red;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 2;
}
